*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
    background-color: blanchedalmond;
}

nav .logo{
    margin: 16px 0;
    width: 139px;
    height: 60px;
}

nav .menu ul{
    display: flex;
    width: 365px;
    height: 24px;
    gap: 32px;
    margin: 34px 0;
}

nav .menu li{
    list-style: none;
}

nav .menu a{
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
    color: #000000;
}


/* Shared style*/
.btn{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    margin: 24px 0;
    gap: 10;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    background:#30B868;
    cursor: pointer;
}