*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}



/* Shared style*/
.btn{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    margin: 24px 0;
    gap: 10;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    background:#30B868;
    cursor: pointer;
}




/* Navbar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 92px;
    padding: 16px 120px 16px 120px;
}

nav .logo{
    margin: 16px 0;
    width: 139px;
    height: 60px;
}

nav .menu ul{
    display: flex;
    width: 365px;
    height: 24px;
    gap: 32px;
    margin: 34px 0;
}

nav .menu li{
    list-style: none;
}

nav .menu a{
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
    color: #000000;
}


#hero .hero-container{
    background-image: url(../assets/hero-bg.png);
    width: 1600px;
    height: 674px;
    text-align: center;

}


#hero .hero-container{
    padding-top: 115.5px;
}

#hero .hero-container .hero-heading .hero-btn{
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    background-color: white;
    padding: 8px 12px;
    border-radius: 1000px;
    border: none;
    margin-bottom: 16px;
    cursor: pointer;
}


.hero-container .hero-1 .hero-2{
    color: white;
    font-size: 72px;
    font-weight: 700;
}
.hero-container .hero-1 .hero-2 span{
    color: #30B868;
}

.hero-container .hero-p{
    color: white;
    margin-top: 16px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;

}

.hero-container .hero-btn2{
    gap: 16px;
    display:flex ;
    justify-content:center;
    align-items: center;
}


.hero-container .hero-btn2 .btn-2{
    padding: 12.5px 16px;
    font-size: 16px;
    font-weight: 600;
    margin: 24px 0;
    gap: 10;
    border-radius: 4px;
    color: #FFFFFF;
    background:#30B868;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
}

#Note .note-container{
    margin: 0 auto;
}

.note-container .note-header{
    text-align: center;
    margin-bottom: 44px;
    padding-top: 50px;
}

.note-header h2{
    font-size: 48px;
    font-weight: 700;
}


.note-header p{
       font-size: 16px;
       font-weight: 400;
       line-height: 20px;
       color: #627382;
       padding-top: 16px;
}

#Note .note-container .note-box{
    
    max-width: 1360px;
    gap: 24px;
    display: flex;
    margin: 0 auto;
}

.note-box .note-card {
    max-width: 330px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 #00000041;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-box .note-card .img{
    background: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;
    margin-top: 69.5px;
    margin-bottom: 16px;
    align-items: center;
}

.note-box .note-card .img2{
    background: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 15px;
    margin-top: 55px;
    margin-bottom: 16px;
    align-items: center;
}


.note-card h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

.note-card p{
        font-size: 16px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    color: #627382;
}


#design .design-container{
    padding-top: 120px;
    display: flex;
    gap: 60px;
    /* Bug Fixed! */
    width: 85%;
    max-width: 1360px;
    align-items: center;
    margin-left: 120px;
    margin: 0 auto;

}


.design-container .left-side{
    border: #30B868;
    border-radius: 12px;
    width: 600px;
    height: 600px;
}


.design-container .right-side h5{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}


.design-container .right-side h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-bottom: 16px;
}

.design-container .right-side .p{
    font-size: 16px;
    font-weight: 400px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
    max-width: 484px;
}

.design-container .right-side .list .icon{
    display: flex;
    margin-bottom: 16px;
    gap: 6px;
}
.design-container .right-side .list .icon img{
    height: 20px;
    width: 20px;
}


#think {
    margin-top: 120px;
}

#think .bg{
    justify-items: center;
    text-align: center;
    border-radius: 12px;
    background-color: rgba(247, 246, 242, 1);
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
}

#think .bg .t-head{
    padding-top: 80px;
    font-size: 40px;
    font-weight: 700;
    color:rgba(0, 25, 49, 1);
}

#think .bg .t-p{
    color:#627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}
#think .bg .t-p2{
    color:#627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 80px;
}

#footer {
    margin-top: 120px;
    background-color: #001931;
}

#footer .footer-container {
    width: 85%; 
    max-width: 1360px;
    margin: 0 auto;
}
.footer-container .top {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.footer-container .f-menu{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
.footer-container .f-menu .footer-icon img{
     width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    margin-right: 16px;
}


.bottom hr {
    margin: 80px 0 30px;
    /* Why hr color not working? */
    color: #023bac7a;
}

.bottom p {
    color: white;
    text-align: center;
    padding-bottom: 30px
}
